<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<title>Jovian Careers.</title>

</head>
<body>
<div class="text-center">
  <h1 class=".mt-0">{{company_name}} Careers</h1>
    <img id="banner"  src="https://flask-doc-2.harpreet888.repl.co/static/careers_page.jpg", height="350" alt="HTML DOG">
  <h2>About Jovian</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Placerat orci nulla pellentesque dignissim enim sit amet venenatis. Nisi est sit amet facilisis magna. Velit euismod in pellentesque massa placerat duis ultricies. Platea dictumst quisque sagittis purus. Magna fermentum iaculis eu non diam phasellus vestibulum lorem. Felis donec et odio pellentesque diam volutpat commodo. Scelerisque fermentum dui faucibus in ornare quam. Aenean sed adipiscing diam donec adipiscing tristique.</p>
  <h2>Open Positions</h2>

  
  <div class="text-left" >
    {% for job in jobs %}
     {% include 'jobitem.html' %}
    {% endfor %}
  
  
  </div>
<div>
  <button class="btn btn-primary">Contact Us</button>
  <p>Copyright 2022</p>
</div>

</div>
  
</body>
  
</html>