<!DOCTYPE html>
<html>
<head>
<title>Jovian Careers.</title>
<style>
  h1{
  font-size:40px;
  font-family:"Helvetica";
  text-align:center;
  color:rgb(70,90,0);
  }
#banner{
  width: 100%;
  height:360px;
  object-fit:cover;
  
}
h2{
  font-family:"Helvetica";
  font: size 32px;
  color: rgb(50, 50, 50);
  text-align:center;
  font: weight normal;;
}
  
.body-text{
  color: "Helvetica";
  color: rgb(80, 80, 80);
  
}
#container{
  max-width:800px;
  margin-left:0 auto;
}
</style>
</head>
<body>
<div id="container">
  <h1>Jovian Careers</h1>
    <img id="banner"  src="https://flask-doc-2.harpreet888.repl.co/static/careers_page.jpg", height="350" alt="HTML DOG">
  <h2>About Jovian</h2>
  <p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Placerat orci nulla pellentesque dignissim enim sit amet venenatis. Nisi est sit amet facilisis magna. Velit euismod in pellentesque massa placerat duis ultricies. Platea dictumst quisque sagittis purus. Magna fermentum iaculis eu non diam phasellus vestibulum lorem. Felis donec et odio pellentesque diam volutpat commodo. Scelerisque fermentum dui faucibus in ornare quam. Aenean sed adipiscing diam donec adipiscing tristique.</p>
  <h2>Open Positions</h2>
  <p class="body-text">Show the jobs here</p>
<div style= text-align:center; >
  <button>Contact Us</button>
  <p>Copyright 2022</p>
</div>

</div>
  
</body>
  
</html>